/* Applicable to All pages */


.main-body {
    background-color: white;
    max-width: 60%;
    margin: 5rem auto;
    padding: 1rem 2rem;
}

/* Welcome Page styles */

.main-body__headerWelcome {
    text-align: center;
    margin: 3rem 0;    
}

.main-body__headerWelcome span {
    color: rgb(185,43,39);
}


.main-body__content {
    text-align: justify;
    
}

.main-body__button  {
    display: flex;
    justify-content: center;
}

.main-body__button  button{
    padding: 5px 10px;
    background-color: white;
    color: rgb(42, 168, 240);
    border: 2px solid rgb(42, 168, 240);
    border-radius: 8px;
}

.main-body__button  button:hover{
    padding: 5px 10px;
    background-color: rgb(42, 168, 240);
    color: white;
    border: 2px solid rgb(42, 168, 240);
    border-radius: 8px;
}



/* Articles Page styles */


.main-body__articleWrapper {
    width: 100%;
}

.main-body__article {
    background-color: rgb(217, 249, 242);
    margin: 30px 2px;
    padding: 8px 10px;
    border: 1px solid rgb(182, 181, 181);
    border-radius: 10px;
}

.main-body__articleUserDetails {
    display: flex;
    justify-content: space-between;
}

.main-body__articleUser {
    display: flex;
}

.main-body__articleUserInfo {
    margin: 5px 10px;

}

.main-body__articleUserInfo a {
    text-decoration: none;
    color: black;
}

.main-body__articleUserInfo a:hover {
    text-decoration: underline;
    color: black;
}

.main-body__articleUserInfo > * {
    font-size: 12px;
    margin: 0;
}

.main-body__articleUserImg img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.main-body__articleUserButtons >button {
    background-color: rgb(217, 249, 242);;
    padding: 11px 12px;
    border-radius: 50%;
    border: none;
}

.main-body__articleUserButtons >button:hover {
    padding: 11px 12px;
    background-color: rgb(246, 244, 244);
    border-radius: 50%;
    border: none;
}

.main-body__articleContentDetails {
    margin-top: 10px;
}

.main-body__articleQuestion {
    padding-top: 5px;
    padding-bottom: 10px;
}

.main-body__articleQuestion a {
    text-decoration: none;
    color: black;
}

.main-body__articleQuestion a:hover {
    text-decoration: underline;
    color: black;
}

.main-body__articleAnswer p {
    text-align: justify;
    font-size: 15px;
}

.article__view-button,
.article__editDel-button {
    display: flex;
    justify-content: center;
}

.article__view-button button,
.article__editDel-button button{
    border: 2px solid rgb(185,43,39);;
    padding: 0.2rem 0.3rem;
    color: rgb(185,43,39);
    background-color: white;
    border-radius: 10px;
}

.article__editDel-button button {
    margin-right: 0.4rem;
}

.article__view-button button:hover, 
.article__editDel-button button:hover{
    padding: 0.2rem 0.3rem;
    border: 2px solid rgb(185,43,39);;
    padding: 0.2rem 0.3rem;
    color: white;
    background-color:rgb(185,43,39) ;
    border-radius: 10px;
}

/* Create Article Page styling */

.main-body__createArticle {
    width: 100%;
    padding: 0.5rem 0.4rem;
    min-width: 200px;
}

.createArticle__AuthorWrapper {
    display: flex; 
    justify-content: space-around;
}

.createArticle__AuthorName {
    width: 100%; 
    margin-right: 0.1rem;
}

.createArticle__AuthorInterest,
.createArticle__content, 
.createArticle__contentQuestion,
.createArticle__contentAnswer,
.createArticle__content textarea,
.createArticle__AuthorInterest input{
    width: 100%; 
}


.createArticle__submit {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.createArticle__submit button{
    padding: 0.2rem 0.3rem;
    background-color: rgb(244, 77, 111);
    color: white;
    border-radius: 5px;
    border: 2px solid rgb(244, 77, 111);
}

.createArticle__submit button:hover{
    padding: 0.2rem 0.3rem;
    background-color: crimson;
    border-radius: 5px;
    border: 2px solid crimson;
}

